{% extends 'base.html' %}
{% block content %}

<div class="container">



    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-8" >
                <form class="row" action="{{ url_for('upload_file')}}" method="POST" enctype="multipart/form-data"> 
                    <div class="col-12">
                       <p>Select Image</p>
                    </div>
                  
                    
                    <div class="col-6">
                        <input type="file" name="image">
                    </div>

                    <div class="col-6">
                        <label for="title">Title</label>
                        <input type="text" name="title">
                    </div>
                    
                    <div class="col-12">
                        <p>Select tag</p>
                        {% for tag in tags %}
                            <input type="checkbox" name="tag" value="{{tag.tag_name}}">{{tag.tag_name}}
                            <br>
                        {% endfor %}
                    </div>
                    
                    <div class="col-12">
                        <button type="submit">Upload Image</button>
                    </div>
                </form>
            </div>

            <div class="col-4 border-left border-left-info">
                <form action="{{ url_for('add_tag')}}", method="POST">
                    <input type="text" name="tag_name"> 
                    <input type="submit" name="add_tag" value="Add Tag">
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        {%for image in images %}
        <div class="col-lg-4 col-md-6 mt-2 mb-2">
            <div class="thumbnail">
                <img src="{{ url_for('send_image', filename=image.image_filename)}}" style="height: 350px; width: 360px;"/>
            </div>
            <p class="text-center font-weight-bold mt-2">{{image.image_title}}</p>
            <p  class="text-center">
                {% for tag in image.tags%}
                <span style="text-decoration: underline;">{{tag.tag_name}}</span> 
            {% endfor %}
            </p>
            <div class="row justify-content-center">
                <a href="{{url_for('animal_page', filename=image.image_filename)}}"><p class="btn btn-primary text-white mr-1">View</p></a>
                <form action="{{ url_for('delete_image', filename=image.image_filename) }}" method="POST">
                    <button class="text-white btn btn-danger ml-1" type="submit" name="delete">Delete</button>
                </form>
            </div>
        </div>
        
        {%endfor%}
    </div>

    <!--
    <div class="jumbotron mt-4">
        <h1><span class="glyphicon glyphicon-camera"> </span>Cute Animal Gallery</h1>
        <p>Lots of cute animals</p>    
    </div>
    -->
</div>
{% endblock %}